*{
  margin:0;
  padding:0;
}


html{
  margin:0;
  padding:0;
  /* background-color:rgba(35, 34, 33, 0.904); */
  color:aliceblue;
  font-family:'Nunito', sans-serif;
  box-sizing:border-box;
 
}

body{
  background-color:blue;
}

#intro{
  display:flex;
  justify-content: center;
  align-items:center;
  margin-left:10%;
  margin-right:10%;
  
}

.navbar{
  display:flex;
  flex-direction:row;
  list-style-type: none;
  justify-content: center;

}

li{
  margin:3%;
}

main{
  width:70%;
  margin:0 auto;
}
