*{
  margin:0;
  padding:0;
}

html{
  font-family:'Nunito', sans-serif;
  box-sizing:border-box;
}


body{
  margin-left:8%;
  background-color:#fff;
}

li,a{
  text-decoration: none;
  list-style-type: none;
}


.navbar{
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  position:fixed;
  width:8%;
  height:100vh;
  background-color:#202124;
  top:0;
  left:0;
}

.nav-items{
  padding:1.5% 2%;
  color:#fff;

}

.nav-items a{
  text-decoration: none;
  color:#fff;
}

.nav-items:hover{
  cursor: pointer;
  background-color: hsl(225deg 6% 30%);
}


.cover{
  font-size: 2rem;
  width:90%;
  margin:0 auto;
  height:95vh;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
 
  
}

.eyecatcher{
  margin-bottom:20%;
}

.about-me{
  background-color:hsl(240, 100%, 60%);
  color: #FFE82A;
  padding:7% 15%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me p{
  width:70%;
}

.about-me img{
  margin-top:50px;
  
}


.profile-picture{
  border-radius: 50%;
  width:100px;
  height:100px;
}


.skills{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  background-color: white;
  width:100%;
  color:black;
}

.soft-skills{
  background-color:#fff;
  color:black;
  display:flex;
  justify-content: space-between;
}

.skills div{
  border:solid hsl(240, 100%, 60%) 3px;
  padding:7%;
  margin-top:5px;
  margin-bottom:5px;
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.projects{
  display:grid;
  grid-template-columns: .5fr .5fr;
  background-color: hsl(240, 100%, 60%);
  justify-content: center;
  align-items: center;
   
}

.projects div{
  background-color:white;
  padding:80px;
  margin:20px;
}
